<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramaqq.teknizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".PointActive_Activity"></activity>
        <activity android:name=".PointHold_Activity"></activity>
        <activity android:name=".PointBonus_Activity"></activity>
        <activity android:name=".PointCut_Activity"></activity>
        <activity android:name=".PointExpired_Activity"></activity>
        <activity android:name=".MyPSB_Activity"></activity>
        <activity android:name=".Fragment_changePassActivity"></activity>
        <activity android:name=".DetailPoint_cut"></activity>
        <activity android:name=".Gangguan_Activity"></activity>
        <activity android:name=".DetailGangguan"></activity>

    </application>

</manifest>